{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'videohost/css/style.css' %}">
    <script src="{% static 'videohost/js/script.js' %}" defer></script>
    <title>PBlog</title>
</head>
<body>
    <nav class="flex-div">
        <div class="nav-left flex-div">
            <img src="{% static 'videohost/images/menu.png' %}" class="menu-icon">
            <a href="{% url 'home' %}"><img src="{% static 'videohost/images/logo.png' %}" class="logo"></a>
        </div>
        <div class="nav-middle flex-div">
            <div class="search-box flex-div">
                <input type="text" placeholder="Поиск">
                <img src="{% static 'videohost/images/search.png' %}">
            </div>
        </div>
        <div class="nav-right flex-div">
            <img src="{% static 'videohost/images/upload.png' %}" class="upload" id="upload">
            <span class="username" id="username"></span>
            <button class="logout" id="logout">Выйти</button>
            <a href="enter.html/" class="auth">Войти</a>
        </div>
    </nav>
    <!-- sidebar -->

    <div class="sidebar">
        <div class="shortcut-links">
            <a href=""><img src="{% static 'videohost/images/home_active.png' %}">
                <p>Главная</p>
            </a>
            <a href="{% url 'channel' %}"><img src="{% static 'videohost/images/subscriprion.png' %}">
                <p>Мой канал</p>
            </a>
            <a href=""><img src="{% static 'videohost/images/library.png' %}">
                <p>Библиотека</p>
            </a>
            <hr>
        </div>
        <div class="subscribe-list">
            <h3>Подписки</h3>
        </div>
    </div>

    <!-- main -->
    <div class="container">
        <div class="list-container" id="videoListContainer">
            <!-- Video list will be loaded here -->
        </div>
    </div>

    <script type="module" src="{% static 'videohost/js/main_script.js' %}"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth.js"></script>
    <script type="module" src="https://www.gstatic.com/firebasejs/10.8.0/firebase-database.js"></script>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-app.js";
        import { getDatabase, ref, onValue } from "https://www.gstatic.com/firebasejs/10.8.0/firebase-database.js";


        const firebaseConfig = {
            apiKey: "AIzaSyDfKH9o_5TIursPTAV3kgHRo45Sh6-2T4Y",
            authDomain: "pblog-8e245.firebaseapp.com",
            projectId: "pblog-8e245",
            storageBucket: "pblog-8e245.appspot.com",
            messagingSenderId: "438974043232",
            appId: "1:438974043232:web:592cecb687e77958c2df05",
            databaseURL: "https://pblog-8e245-default-rtdb.europe-west1.firebasedatabase.app/",
        };

        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);

        function fetchVideos() {
            const videoListContainer = document.getElementById('videoListContainer');
            const videosRef = ref(database, 'videos');

            onValue(videosRef, (snapshot) => {
                videoListContainer.innerHTML = ''; // Clear container before loading videos
                snapshot.forEach((childSnapshot) => {
                    const video = childSnapshot.val();
                    const videoElement = document.createElement('div');
                    videoElement.classList.add('vid-list');

                    videoElement.innerHTML = `
                        <a href="${video.url}"><img src="${video.url}" class="thumbnail"></a>
                        <div class="flex-div">
                            <img src="{% static 'videohost/images/Jack.png' %}">
                            <div class="vid-info">
                                <a href="${video.url}">${video.fileName}</a>
                                <p>Загружено пользователем ${video.userId}</p>
                                <p>${new Date(video.uploadDate).toLocaleString()}</p>
                            </div>
                        </div>
                    `;

                    videoListContainer.appendChild(videoElement);
                });
            });
        }

        fetchVideos();
    </script>
</body>
</html>

